---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <article>
        {{content}}
      </article>
    </div>
  </div>
</div>
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area ">
	  <div class="post-list-header">
	  Researches
	  </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
          {% for post in sorted_posts %}
            {% if post.clickable != false %}
              <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
                <p style="color:#2c2c2c;font-size: 10">
                {{ post.title | replace: 'Guo S', '<span class="highlight">Guo S</span>' | replace: '郭帅', '<span class="highlight">郭帅</span>' | safe }}
                </p>
              </a>
            {% else %}
              <!-- 如果帖子不可点击，只显示标题，不渲染为链接 -->
              <a class="post-list-item-no-gradient">
                <p style="color:#2c2c2c;font-size: 10">
                {{ post.title | replace: 'Guo S', '<span class="highlight">Guo S</span>' | replace: '郭帅', '<span class="highlight">郭帅</span>' | safe }}
                </p>
              </a>
            {% endif %}
          {% endfor %}
        </div>
          {% for category in site.categories %}
            <div post-cate="{{category | first}}">
              {% for posts in category %}
                {% for post in posts %}
                  {% if post.clickable != false %}
                    <!-- 如果post.clickable不存在或不为false，渲染为可点击的链接 -->
                    <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
                      <p style="color:#2c2c2c;font-size: 10">
                      {{ post.title | replace: 'Guo S', '<span class="highlight">Guo S</span>' | replace: '郭帅', '<span class="highlight">郭帅</span>' | safe }}
                      </p>
                    </a>
                  {% else %}
                    <!-- 如果post.clickable为false，渲染为不可点击 -->
                    <a class="post-list-item-no-gradient">
                      <p style="color:#2c2c2c;font-size: 10">
                      {{ post.title | replace: 'Guo S', '<span class="highlight">Guo S</span>' | replace: '郭帅', '<span class="highlight">郭帅</span>' | safe }}
                      </p>
                    </a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    <div class="post-list-bottom">
    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Categories
      </div>
      
      <a href="javascript:;" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories reversed %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>