---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</div>
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <div class="post-list-header">
        Researches
      </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
          <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
            <p style="color:#2c2c2c;font-size: 10">
              {{ post.title }}
            </p>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
